<div>
    <h2>
        <span jhiTranslate="jhipsterApp.incident.home.title">Incidents</span>
        <button class="btn btn-primary float-right jh-create-entity create-incident" [routerLink]="['/', { outlets: { popup: ['incident-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.incident.home.createLabel">
            Create new Incident
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="incidents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.incident.description">Description</span></th>
            <th><span jhiTranslate="jhipsterApp.incident.employee">Employee</span></th>
            <th><span jhiTranslate="jhipsterApp.incident.department">Department</span></th>
            <th><span jhiTranslate="jhipsterApp.incident.incidentType">Incident Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let incident of incidents ;trackBy: trackId">
                <td><a [routerLink]="['../incident', incident.id ]">{{incident.id}}</a></td>
                <td>{{incident.description}}</td>
                <td>
                    <div *ngIf="incident.employee">
                        <a [routerLink]="['../employee', incident.employee?.id ]" >{{incident.employee?.fullName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="incident.department">
                        <a [routerLink]="['../department', incident.department?.id ]" >{{incident.department?.departmentName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="incident.incidentType">
                        <a [routerLink]="['../incident-type', incident.incidentType?.id ]" >{{incident.incidentType?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../incident', incident.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'incident/'+ incident.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'incident/'+ incident.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
