<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIncidentLabel" jhiTranslate="jhipsterApp.incident.home.createOrEditLabel">Create or edit a Incident</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!incident.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="incident.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.incident.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="incident.description" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.incident.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="incident.employee" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id === incident.employee?.id ? incident.employee : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.incident.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="incident.department" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departmentOption.id === incident.department?.id ? incident.department : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.departmentName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.incident.incidentType" for="field_incidentType">Incident Type</label>
            <select class="form-control" id="field_incidentType" name="incidentType" [(ngModel)]="incident.incidentType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="incidentTypeOption.id === incident.incidentType?.id ? incident.incidentType : incidentTypeOption" *ngFor="let incidentTypeOption of incidenttypes; trackBy: trackIncidentTypeById">{{incidentTypeOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
