
<div *ngIf="employee">
    <h2><span jhiTranslate="jhipsterApp.employee.detail.title">Employee</span> {{employee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.employee.fullName">Full Name</span></dt>
        <dd>
            <span>{{employee.fullName}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.employee.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{employee.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.employee.alternativePhoneNumber">Alternative Phone Number</span></dt>
        <dd>
            <span>{{employee.alternativePhoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.employee.cityPhoneNumber">City Phone Number</span></dt>
        <dd>
            <span>{{employee.cityPhoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.employee.fax">Fax</span></dt>
        <dd>
            <span>{{employee.fax}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.employee.email">Email</span></dt>
        <dd>
            <span>{{employee.email}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.employee.job">Job</span></dt>
        <dd>
            <div *ngIf="employee.job">
                <a [routerLink]="['/job', employee.job?.id]">{{employee.job?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.employee.department">Department</span></dt>
        <dd>
            <div *ngIf="employee.department">
                <a [routerLink]="['/department', employee.department?.id]">{{employee.department?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
